.logo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.provider-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 1em;
}

.provider-logo {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.logo-small {
  height: 20px;
}

.logo-medium {
  height: 30px;
}

.logo-large {
  height: 50px;
}

.badge-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2em;
}